.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.navbar {
    display: flex;
    flex: 0 0 10%;
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}
.body {
    display: flex;
      flex: 1 1 auto;
      overflow-y: auto;
      margin-top: 10vh; 
      height: 90vh;
}

.core {
    background-color:#404249;
    flex:2
}
.tools {
    flex:1;
    background-color: #66686b;
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .icons {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  

  .counter-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 10px;
  }
  .special-buttons {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  .round {
    width: 60px;
    height: 60px;
    font-size: xx-large;
    border-radius: 50%;
    border: none;
    background-color: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;

  }
  .over{
    font-size: larger;
  }
  .round:hover {
    background-color: #388e3c;
  }
  
